[Desktop Entry]
Name=Ferdi
Comment=Messaging app for WhatsApp, Slack, Telegram, HipChat, Hangouts and many many more.
Exec={{ ferdi_install_dir | expanduser }}/Ferdi.AppImage %U
Icon={{ ferdi_icon_dir | expanduser }}/ferdi.png
Type=Application
StartupNotify=true
